<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Home Template page from KOR</title>
</head>
<body>
  <div class="logo-kor">
    <img src="Kor-logo.png" >
 </div>
 <div class="container mt-5" id="app">
   <div class="row w-100">
    <div class="note-input-container">
      <div  class="input-group flex-nowrap">
          <input type="text" class="form-control" placeholder="Note" aria-label="Username" aria-describedby="addon-wrapping" v-model="noteInfo.note">
      </div>
      <div class="button-add">
        <button type="button" :disabled="!noteInfo.note" class="btn btn-success block" v-on:click="add"> + Add</button>
      </div>
    </div>
      <div class="container-notes">
        <ul class="list-group" v-if="notes.length > 0">
          <li class="list-group-item bg-success w-100" v-for="note in notes" v-if="note.finish && !change">
            <div class="row">
              <div class="col-sm-4">
                {{ note.note }}
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="note.finish" id="flexCheckDefault" @change="update(note)">
                  <label class="form-check-label" for="flexCheckDefault">
                    Done
                  </label>
                </div>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-warning block" v-on:click="change = true">Update</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger block" v-on:click="remove(note.id)">Delete</button>
              </div>
            </div>
          </li>
          <li class="list-group-item bg-success w-100" v-for="note in notes" v-if="note.finish && change && todoId === note.id">
            <div class="row w-100">
              <div class="col-sm-4">
                <div class="input-group flex-nowrap">
                  <input type="text" class="form-control" placeholder="Note" aria-label="Username" aria-describedby="addon-wrapping" v-model="note.note">
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-success" v-on:click="updateName(note)">Save</button>
              </div>
            </div>
          </li>
          <li class="list-group-item w-100" v-for="note in notes" v-if="!note.finish && !change">
            <div class="row">
              <div class="col-sm-4">
                {{ note.note }}
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" v-model="note.finish" id="flexCheckDefault" @change="update(note)">
                  <label class="form-check-label" for="flexCheckDefault">
                    Done
                  </label>
                </div>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-warning block" v-on:click="showInput(note)">Update</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-danger block" v-on:click="remove(note.id)">Delete</button>
              </div>
            </div>
          </li>
          <li class="list-group-item w-100" v-for="note in notes" v-if="!note.finish && change && change && todoId === note.id">
            <div class="row w-100">
              <div class="col-sm-4">
                <div class="input-group flex-nowrap">
                  <input type="text" class="form-control" placeholder="Note" aria-label="Username" aria-describedby="addon-wrapping" v-model="note.note">
                </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-success" v-on:click="updateName(note)">Save</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
   </div>
 </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <script src="./aws-cognito-sdk.min.js"></script>
  <script src="./amazon-cognito-identity.min.js"></script>
  <script src="./config.js"></script>
  <script src="./cognito-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./script.js"></script>
</body>
</html>